@model List<CompanyApp.Models.Employee>

@{
    ViewData["Title"] = "Home Page";    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>This is a demo CRUD application showcasing example implementations of:<a>        
            <li>MVC-based application architecture</li>
            <li>Razor engine-based Views</li>
            <li>code-first Entity Framework migrations</li>
            <li/>a REST API service with attribute-based routing and DTO model binding<li/>
            <li>custom server-side model validation</li>
            <li>the repository pattern</li>
            <li>dependency injection</li>
    <p>TO DO:<a>        
            <li>Authentication and Autorization</li>
            <li>client-side validation</li>
            <li>UI updates</li>
            </a>
    </p>
</div>